@import url('style.css');
@import url('https://fonts.googleapis.com/css?family=Lato');



#top-headline {
    text-align: center;
    font-size: 35px;
}
.row {

}

.grid {
    float: left;
    margin: 20px;
}

.radius {

    border-radius: 5px;
    max-height: 200px;
}

.res-button {
    color: #fff;
    margin: auto;
    padding: 10px;
    text-align: center;
    display: block;
    border-radius: 5px;
    /*border: 0;*/
    background-color: #4CAF50;
}

.res-button:hover {
    color: #fff;
    margin: auto;
    padding: 10px;
    text-align: center;
    display: block;
    border-radius: 5px;
    /*border: 0;*/
    background-color: #6CCF50;
}

