<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="fragments/head::head"/>
                        <!--CALENDAR JQUERY-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $( function() {
            $( "#datepicker" ).datepicker();
        } );
    </script>
</head>
<body class="contact">

<header  id="top-headline">
    <h1>Przychodnia "SPRING"!</h1>
</header>
<h1>Zapisz pacjenta na wizytę</h1>


<form action="create" method="post">

    <label>Imię i nazwisko pacjenta: </label>
    <input type="text" name="name" required=><br><br><br>
    <label>Numer telefonu: </label>
    <input type="text" name="phoneNumber" required><br><br><br>





    <label>Data wizyty:</label>
    <input type="text" name="date" id="datepicker" required><br><br><br>

    <label> Lekarz </label>
    <select id="doctor" name="doctor">
        <option th:each="p : ${doctors}" th:value="${p.id}" th:text="${p}"></option>
    </select>
    <input type="submit" >

</form>
</body>
</html>