<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="fragments/head::head"/>
    <title>Title</title>
</head>
<body>
<header  id="top-headline">
    <h1>Przychodnia "SPRING"!</h1>

    <h2>ZAPISANO</h2><br><br>
    <p th:text="${patient}"/>

</header>
</body>
</html>